.idea/
__pycache__
*/C++/build
bow_tutorial_2
bin
obj
Step_0_Dependencies/C++/install
Step_0_Dependencies/C++/Linux/opencv
./Demos

**/.venv/**
**/venv/**

.vscode/
**/.env
/Vision - Object Detection/Python/yolov8n.pt
/Exteroception - Sonar/C++/bow_ext_sonar
/Exteroception - Sonar/C++/cmake-build-debug/
